// 颜色
$color-primary: #64167f;
$color-primary-light: #6d1a86;
$color-primary-dark: #542b70;
$color-primary-dark-1:#540c72;
$color-primary-line: #884f9c;
$color-primary-grey: #533175;

$color-primary-grey-1: #7a3ab3;

$color-secondary-light: #f4930a;
$color-secondary-dark: #ff7800;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #ccc;
$color-grey-dark-9: #999;
$color-grey-dark-eaecec: #eaecec;

$color-white: #fff;
$color-black: #000;

$color-background: #f5f7f6;
$color-background-1: #f1eee7;
$color-background-2: #f4f6f6;

$text-color: #afa2bb;


// 字体
$default-font-size: 1.6rem;


// 网格
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;