.footer {
    padding: 3.5rem 0;
    background: $color-primary-dark-1;
    .mainWrap {

        display: flex;
        flex-flow: nowrap;
        align-items: center;
    }

    .copyright {
        color: $color-white;
        padding-left: 4rem;

        a,p {
            color: $color-white;

        }
    }
}